* {
    margin: 0;
    
}

body {
    background-color: #5584AC;
}

.top {
    
    height: 100px;;
    background-color: #333;
}

.container {
    display: inline-block;
    position: absolute;
    margin: 20px;
    margin-right: 20px;
    width: 100%;
    
}

.title {
    float: left;
}

.logo {
    
    border-radius: 50px;
}

.nav {
    max-width: 100%;
    border: solid black 2px;
    padding: 20px;
    background-color: #95D1CC;
    float: right;
    position: 0;
}