* {
    margin: 0;
    color: #22577E;
}

body {
    background-color: #5584AC;
}

  /* Centered text */
.centered {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.top-back {
    background-color: #333;
}

.image {
    background-image: url("placeholder.png");
    opacity: 70%;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

/* Needed to position the navbar */
    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: 100%;
}

.title {
    float: left;
}

.nav {
    float: right;
}

.sect {
    background-color: #F6F2D4;
    margin: 50px;
    min-height: 200px;
    font-family: Georgia, serif;
    text-align: center;
    position: relative;
}

.para {
    padding: 50px;
    
}

p {
    position: relative;
    max-width: 800px;
    padding-left: 50px;
    padding-right: 50px;
}