<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form - Test</title>
    <link rel="stylesheet" href="subs.css">
</head>

<body>
    

    <div class="top">
        <div class="image">
            <div class="centered">
                <h1 id="h1">Subscribe for updates on COVID-19</h1>
                <h1>CovidNow</h1>
                <h4>A Hope Hacks Solution</h4>
                <!-- <h2><img class="logo" src="/COVID.png" alt="logo.jpg" width="60px" height="60px">CovidHealth</h2> -->
            </div>

            <div class="container">
                <div class="title">
                    <h2><img class="logo" src="/COVID.png" alt="logo.jpg" width="60px" height="60px">CovidHealth</h2>
                    </div>
                    <div class="nav">
                    <a href="/index.html">Home</a>
                    <a href="/live.html">Live Tracker</a>
                    <a href="/views/subs.html">More Info/Contact</a>
                    </div>
            </div>
        </div>
    </div>

    <section class="cards">
        <article class="card">
            <h3>Consulting with health provider about vaccination</h3>
            <p>It will take several weeks for the vaccine to become fully active after you
                receive it. Do not wait for cases of COVID-19 to spike before getting vaccinated. You will
                be better protected if you get vaccinated in advance of the next wave of infections. If you have already been vaccinated, keep track of how long it has been since
                you completed the primary vaccination series. If it has been five or more months
                since you completed the primary vaccination series, consider consulting with your
                health care provider about getting a booster shot.</p>
        </article>

        <article class="card">
            <h3>Limiting activities to reduce risk of exposure</h3>
            <p>Maintain a safe distance from other people. You are the greatest risk of being
                exposed to COVID-19 when you are breathing the same air as someone who is
                infected with COVID-19.
                • If you are seeking routine medical care, consider using telehealth to consult
                with your health care provider. If you need prescriptions filled, consider using a
                mail-order pharmacy to have your medications shipped to your home.</p>
        </article>

        <article class="card">
            <h3>Ensure taking preventative and cautious measures</h3>
            <p>Always wash hands and ensure to disenfect commonly used surfaces throughout your home or workplace. Consider having food and grocery items delivered to your home. Create an emergency response plan that you can reply on in case you or a close one is diagnosed with COVID-19. </p>
        </article>

        <article class="card">
            <h3>Treatments</h3>
            <p>Currently, there is no cure for COVID-19. However, some strategies may be employed to reduce disease severity. The U.S. Centers for Disease Control and Prevention (CDC) recommend staying home, drinking plenty of fluids, and isolating yourself away from other people in your home to prevent spreading the coronavirus to them.</p>
        </article>


    </section>

    <form id="form">
        <p>Fill out your information here: </p> <br>

        <input type="text" id="name" placeholder="Full name"> <br>
        <input type="email" id="email" placeholder="Email"> <br>
        <textarea name="text" id="text" cols="30" rows="10" placeholder="Message..."></textarea> <br>
        <input type="submit" value="Submit">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="mail..js"></script>
    <script src="server.js"></script> -->
    <script>

        //TODO: 
        $('form').on('submit', (e) => { //be able to send data from form to server 
            e.preventDefault();

            const email = $('#email').val().trim();
            const name = $('#name').val().trim();
            const text = $('#text').val().trim();

            const data = {
                email,
                name,
                text
            };

            $.post('/email', data, function() {
                console.log('Server recieved our data!');
            });

        });

    </script>
</body>
</html>