* {
    margin: 0;
}

/* .container {
    display: inline-block;
    position: absolute;
    margin: 20px;
    margin-right: 20px;
    width: 100%;
    
} */
.image {
    opacity: 70%;
    height: 45vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    background-image: url(/cov-ex.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* main title css */
.centered {
    color: #F6F2D4;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

/* logo css */ 
.logo {
    border-radius: 50px;
}
.title {
    margin-left: 20px;
}

.nav {
    border: solid black 2px;
    padding: 20px;
    background-color: #95D1CC;
    float: right;
    position: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(0, 0, 0, 0.7);
    justify-content: space-between;
    align-items: center;

}

body {
    height: 140vh;
    width: 100vw;
    background-color: #5584AC;
}

h1 {
    color: #F6F2D4;
    text-align: center;
    /* margin-top: 20px; */

}
h4 {
    text-align: center;
}
p {
    color: #F6F2D4;
}

form {
    position: relative;
    top: 15vh;
    width: 45vw;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    color: darkolivegreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    box-sizing:border-box;
    border: none;
    border-bottom: 2px solid skyblue;
  }
  #text {
      width: 99%;
  }

  /* card/ paragraph css */ 

  .cards {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
  }
  
  .cards h3 {
    font-size: 2rem;
    font-weight: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #201E1F;
    margin: 1rem;
  }
  
  .card {
    text-align: center;
    padding: 1rem;
    line-height: 1.5rem;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
  }
  .card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }







/* media responsiveness */ 
  /* AT 600px WIDE */
@media (min-width: 600px) {

    /* ABOUT */
  
    .cards { 
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;
    }
  
  }
  
  /* AT 900px WIDE */
  @media (min-width: 900px) {
  }