<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form - Test</title>
    <link rel="stylesheet" href="subs.css">
</head>

<body>
    <h1 id="h1">Subscribe for updates on COVID-19</h1>

    <form id="form">

        <input type="text" id="name" placeholder="Full name"> <br>
        <input type="email" id="email" placeholder="Email"> <br>
        <textarea name="text" id="text" cols="30" rows="10"></textarea> <br>
        <input type="submit" value="Submit">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        //TODO: 
        $('form').on('submit', (e) => { //be able to send data from form to server 
            e.preventDefault();

            const email = $('#email').val().trim();
            const name = $('#name').val().trim();
            const text = $('#text').val().trim();

            const data = {
                email,
                name,
                text
            };

            $.post('/email', data, function() {
                console.log('Server recieved our data!');
            });

        });

    </script>
</body>
</html>