* {
  margin: 0;
  box-sizing: border-box;
  font-family: Noto Sans, sans-serif;
}

body {
  background-color: #5584AC;
  height: 140vh;
  width: 100vw;
  
}
.main {
  margin-bottom: 400px;
}

/* .container {
  padding: 25px;
  width: 115vw;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  
} */

.container1 {
  padding: 20px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.logo {
  border-radius: 50px;
}

#logo-name {
  display: inline-block;
  color:black;
  /* color: #1932f2; */
  font-weight: bold;

}

.nav a{
  
  padding: 15px;
  background-color: transparent;
  display: inline-block;
  color: #22577E;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;

}

.nav a:hover {
  color: #F6F2D4;
}

 /* #logo-name{
  display: inline-block;
  color:#F6F2D4;
  font-size: 23px;
  color: #22577E; 
} */

/* Logo CSS */ 
/* .logo {
  border-radius: 50px; 
} */

/* #logo-name{
  color: #95D1CC;
  display: inline-block;
} */


h2{
  /* display: inline-block; */
  color:#070606;
  font-weight: bold;
}

.nav a{
  padding: 10px;
  background-color: transparent;
  display: inline-block;
  color: #22577E;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;

}

.nav a:hover {
  color: #151413;
}


.image {
    opacity: 70%;
    height: 45vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    background-image: url(/IMG/cov-ex.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* main title css */
 .centered {
    color: #F6F2D4;
    width: 40vw;
    font-weight: bold;
    font-family: Noto Sans, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
} 


h1 {
    color: rgb(241, 233, 233);
    text-align: center; 
     margin-top: 20px; 

}

h4 {
    text-align: center;
}
p {
    color: #F6F2D4;
}


form {
    position: relative;
    top: 15vh;
    width: 45vw;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    color: darkolivegreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    box-sizing:border-box;
    border: none;
    border-bottom: 2px solid skyblue;
  }
  #text {
      width: 99%;
  } 

  /* card/ paragraph css */ 

.cards {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    font-style: oblique;
    word-spacing: 3px;
   
  }
  
  .cards h3 {
    font-size: 2rem;
    font-weight: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #201E1F;
    margin: 1rem;
  }
  
  .card {
    text-align: center;
    padding: 1rem;
    line-height: 1.5rem;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
  }
  .card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }



 


/* media responsiveness */ 
  /* AT 600px WIDE */
@media (min-width: 600px) {

    /* ABOUT */
  
    .cards { 
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;
    }
  
  }
  
  /* AT 900px WIDE */
  @media (min-width: 900px) {
  }

 footer{
  background-color: #22577E;
} 

  .footer-basic {
    padding:10px 0;
    background-color: #22577E;
}
  
  .footer-basic .social {
    text-align:center;
    padding-bottom: 0;
  }
  
  .footer-basic .social > a {
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid white;
    margin:0 8px;
    color: #F6F2D4;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:10px;
    text-align:center;
    font-size:13px;
    color:#F6F2D4;
    margin-bottom: 0;
  }
